.header {
    background: var(--gray-900);
    color: var(--gray-200);
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    border-bottom: 2px solid var(--gray-700);
    border-color: var(--gray-700);
}

.header h1 {
    font-size: 1.5rem;
}

.header img {
    width: 2rem;
    height: 2rem;
}