:root{
    --white: #ffffff;

    --gray-100: #F7F8F8;
    --gray-200: #B4B5B5;
    --gray-700: #151616;
    --gray-800: #0B0C0C;
    --gray-900: #090A0A;

    --orange: #FF8A00;
    --orange-dark: #c75600;
    --blue: #0689C7;
    --blue-dark: #0d67b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray-900);
    position: relative;
    color: var(--gray-100);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom right, rgba(255, 138, 0, 0.05), transparent 100%);
    z-index: -1;
    pointer-events: none;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left, rgba(6, 137, 199, 0.05), transparent 50%);
    z-index: -1;
    pointer-events: none;
}

body, input, textarea, button{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}